body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  width: 75%;
}

footer {
  text-align: right;
  color: midnightblue;
  clear: both;
}
@media (min-width:900px) 
{.right {
  float: right;
  width: 50%;
}
.left {
  float: left;
  width: 50%;
}
.tile-image {
  float: left;
  width: 50%;
  padding-right: 5%;
}}